.article-not-found-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3rem;
}

.article-not-found-page img {
    max-width: 100vw;
}

.article-not-found-page .text {
    color: #e61b48;
    background-color: #fff;
    padding: 1.5rem 1rem;
    border: 1px solid rgb(236, 224, 224);
    font-size: calc(.8rem + 1.5vmin);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blog-article-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.blog-article-container .tooltip {
    color: #e61b48;
    font-size: calc(.5rem + .8vmin);
    font-weight: 400;
    font-style: italic;
}

.blog-article-container .edit-type {
    color: #65a000;
    font-style: normal;
    font-weight: 500;
}

.funny-edit {
    background-color: #e61b48;
    padding: .2rem .1rem;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.blog-article-container .comment-box {
    display: flex;
    box-shadow: 1px 1px 3px #65a000;
}

.article-section .comment-box > * {
    border: 0;
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
}

.article-section .comment-box button {
    padding: 0 .8rem;
    background-color: #e61b48;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.blog-article-container .comments-container {
    max-height: 84vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: -webkit-sticky;
    top: 0;
    position: sticky;

    padding: 1rem;
    background: rgb(230, 27, 72);
    background: -moz-radial-gradient(circle, rgba(230, 27, 72, 1) 0%, rgba(255, 255, 255, 0.48081230783328954) 100%);
    background: -webkit-radial-gradient(circle, rgba(230, 27, 72, 1) 0%, rgba(255, 255, 255, 0.48081230783328954) 100%);
    background: radial-gradient(circle, rgba(230, 27, 72, 1) 0%, rgba(255, 255, 255, 0.48081230783328954) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e61b48", endColorstr="#ffffff", GradientType=1);
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.comments-container .heading,
.comments-container .no-comment-text {
    text-align: center;
    color: rgb(6,43,16);
}

.comments-container .no-comment-text {
    font-weight: 500;
    font-size: calc(12px + 1.5vmin);
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    color: rgb(43, 33, 6);
}

.comments-container .heading {
    font-size: calc(15px + 1.5vmin);
    border-bottom: 3px solid #fff;
    width: 100%;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.comments-container::-webkit-scrollbar {
    display: none;
}

.article-section .post-title {
    font-size: calc(1rem + 1.5vmin);
    text-align: center;
    color: #e61b48;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.article-section .article-content {
    padding: .2rem .2rem .3rem 1rem;
}

.article-section .article-actions-card {
    display: flex;
    justify-content: space-between;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: calc(.5rem + 1vmin);
    align-items: center;
    color: #65a000;
    padding: .3rem .2rem;
    border-radius: 20px;
    background-color: #fff;
}

.article-section .article-actions-card .likes-card {
    padding: .1rem;
    color: #e61b48;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.article-actions-card .likes-card .like-btn {
    font-size: calc(1rem + 1vmin);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px rgb(75, 73, 73);
    cursor: pointer;
}

@media (min-width: 480px) {
    .blog-article-container {
        flex-direction: row;
    }

    .blog-article-container .comments-container {
        width: 35%;
    }

    .blog-article-container .article-section {
        width: 60%;
        align-self: center;
    }
}

@media (min-width: 900px) {
    .blog-article-container {
        margin: auto;
        max-width: 1024px;
        justify-content: space-between;
    }
    
    .blog-article-container .article-section {
        width: 50%;
    }
    
    .blog-article-container .comments-container {
        width: 40%;
        border-left: 2px solid #e61b48;
        top: 10%;
    }
}