.new-article-container {
    display: flex;
    flex-direction: column;
    gap: calc(1.2rem + 2vmin);
    max-width: 1024px;
    padding: 1rem 0 2.5rem;
}

.new-article-container .article-metadata {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #135e0b;
}

.article-metadata label {
    font-size: calc(.5rem + 1.6vmin);
    text-transform: uppercase;
}

.article-metadata > h1 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #e61b48;
    margin-bottom: 1rem;
}

.article-metadata .action-btns {
    display: flex;
    gap: .8rem;
    justify-content: flex-end;
    padding: .3rem 0;
    border-bottom: 2px solid #135e0b88;
}

.article-metadata .action-btns > button {
    background-color: #e61b48;
    font-weight: 700;
    border: 0;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: calc(.55rem + 1vmin);
}

.article-metadata .form-item {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.article-metadata input {
    border: none;
    box-shadow: inset 0px 1px 3px 1px #e61b48;
    border-radius: 5px;
    padding: .7rem 0;
    text-indent: 10px;
}

.article-metadata input[type='file'] {
    font-size: .8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-weight: 600;
}

.article-metadata .action-btns > button:hover {
    background-color: #135e0b;
    color: #f5ce0a;
    transition: all 400ms ease;
}

.article-metadata .article-premium {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.article-premium .premium-read {
    display: flex;
}

.article-metadata > h1 {
    text-transform: uppercase;
    font-size: calc(1.5rem + 1vmin);
    text-align: center;
}

.article-metadata .tooltip,
.article-body .tooltip {
    color: #e61b48;
    font-size: calc(.5rem + .8vmin);
    font-weight: 400;
    font-style: italic;
}

.article-body .tooltip {
    text-align: center;
}

.new-article-container > .article-body {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 0 1rem;
    border: 2px solid #a18705;
    padding: .5rem .1rem;
    border-radius: 3px;
}

.article-body > h3 {
    font-size: calc(1.2rem + 1vmin);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #135e0b;
    text-align: center;
    font-weight: 800;
}

.autosave-button {
    text-decoration: underline 2px #135e0b;
    cursor: pointer;
    font-weight: 900;
    transition: all 800ms ease-in;
}

.autosave-button:hover {
    color: #135e0b;
    text-decoration: underline 2px #e61b48;
    transition: all 400ms ease-in;
}

@media (min-width: 1024px) {
    .new-article-container {
        margin: auto;
    }
}